<div class="editor-control-hotkeysTip">
    <span class="main iconfont icon-qiehuanhengping" ng-class="{'selected':isSpread}" ng-click="spreadChange($event)">快捷键</span>
    <div class="drop-panel" ng-show="isSpread" ng-click="$event.stopPropagation()">
        <div class="item title">快捷键说明</div>
        <div class="item">Ctrl+Z 撤销</div>
        <div class="item">Ctrl+Y 重做</div>
        <div class="item">Ctrl+O 存为模板</div>
        <div class="item">Ctrl+P 预览</div>
        <div class="item">Ctrl+S 保存节目</div>
        <div class="item">Esc 返回</div>
        <div class="item">Ctrl+I 添加新场景</div>
        <div class="item">Ctrl+B 开启/关闭自动吸附</div>
        <div class="item">Ctrl+G 显示/隐藏网格</div>
        <div class="item separator">Ctrl+X 剪切</div>
        <div class="item">Ctrl+C 复制</div>
        <div class="item">Ctrl+V 粘贴</div>
        <div class="item">Ctrl+D/Delete 删除</div>
        <div class="item">Ctrl+(&gt;) 置顶</div>
        <div class="item">Ctrl+(&lt;) 置底</div>
        <div class="item">← 向左移动</div>
        <div class="item">→ 向右移动</div>
        <div class="item">↑ 向上移动</div>
        <div class="item">↓ 向下移动</div>
    </div>
</div>