<div class="dmbd-audioViewer2">
    <div class="audio-part">
        <audio class="audio" preload="auto" autoplay></audio>
        <div class="poster fa fa-music"></div>
        <div class="control-mask audio-mask">
            <div class="control-panel audio-panel">
                <button ng-hide="isLoaded" ng-click="loadAudio($event)">播放</button>
                <button ng-if="isLoaded" ng-hide="isPlaying" ng-click="playAudio($event)">播放</button>
                <button ng-if="isLoaded" ng-show="isPlaying" ng-click="pauseAudio($event)">暂停</button>
                <button ng-click="selectAudio($event)">{{buttonText}}</button>
            </div>
        </div>
        <div class="info-mask audio-mask" ng-class="{'hidden':!isShowMore}">
            <div class="info-panel audio-panel">
                <table class="info-table">
                    <tr>
                        <td class="td-left"><label>播放时长：</label></td>
                        <td class="td-right"><span>{{data.duration|dmbdAudioTimeFormatFilter}}</span></td>
                    </tr>
                    <tr>
                        <td class="td-left"><label>文件大小：</label></td>
                        <td class="td-right"><span>{{data.size|dmbdResourceSizeFilter}}</span></td>
                    </tr>
                    <tr>
                        <td class="td-left"><label>音频类型：</label></td>
                        <td class="td-right"><span>{{data.mime}}</span></td>
                    </tr>
                    <tr>
                        <td class="td-left"><label>音频码率：</label></td>
                        <td class="td-right"><span>{{data.bitrate}} kbps</span></td>
                    </tr>
                    <tr>
                        <td class="td-left"><label>创建时间：</label></td>
                        <td class="td-right"><span>{{data.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="title-part">
        <div class="left-title" title="{{data.name}}">{{data.name}}</div>
        <div class="right-more">
            <button class="fa fa-info-circle"
                    ng-class="{'clickDown':isMoreDown}"
                    ng-click="mouseClick($event)"
                    ng-mouseenter="mouseEnter($event)"
                    ng-mouseleave="mouseLeave($event)"></button>
        </div>
    </div>
</div>