<div class="page-wrap animated fadeInRight">
	<div class="level2 clearfix">
		<button ng-if="perms(712)" type="button" ng-click="save()" class="btn btn-primary">
			<i class="iconfont icon-tianjia-"></i>
			添加终端
		</button>
		<div class="dropdown-toolTip-wrap" ng-if="perms(715)">
			<button type="button" ng-if="ids.length == 0" data-trigger="hover" bs-enabled="ids.length == 0"
			    data-placement="bottom" data-type="success" data-title="{{'请先选择终端'}}" bs-tooltip class="btn toolTipPrev btn-primary warning">
			</button>
			<button type="button" ng-class="{'disabled-sham': ids.length == 0}" class="btn btn-primary"
			 bs-dropdown aria-haspopup="true" aria-expanded="false">下发命令
				<i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="cmd in cmdCodeOptions">
					<a ng-if="cmd.val != ''" href="javascript:void(0)" ng-click="sendCommand(cmd.val)">
						<i class="{{cmd.icon}}"></i>
						{{cmd.name}}</a>
				</li>
			</ul>
		</div>

		<div class="fr">
			<div class="input-group serchWrap">
				<input type="text" class="form-control" ng-model="sp.search" ng-keyup="myKeyup($event,initPage)" placeholder="终端型号/终端名称">
				<span class="input-group-btn" ng-click="initPage()">
					<button type="button" class="btn btn-primary">
						查询
					</button>
				</span>
			</div>
		</div>

	</div>
	<div class="content-wrap">

		<div class="table-wrapper">
			<table class="table table-striped table-hover dataTable" st-pipe="callServer" st-table="displayed">
				<thead>
					<tr>
						<th class="checkTd">
							<input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
						</th>
						<th>网络ID</th>
						<th>终端名称</th>
						<th>终端型号</th>
						<th>终端尺寸</th>
						<th>单双色</th>
						<th>安装地址</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody ng-show="!isLoading">
					<tr ng-repeat="row in displayed" bindonce>
						<td class="checkTd">
							<input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
						</td>
						<td bo-text="row.sn"></td>
						<td class="ellipsisTd" bo-text="row.name"></td>
						<td bo-text="row.model"></td>
						<td bo-text="row.width + '*' + row.height"></td>
						<td>
							<div bo-if="row.screenColor == 1">单色</div>
							<div bo-if="row.screenColor == 0">双色</div>
						</td>
						<td class="ellipsisTd" bo-title="row.addr"  bo-text="row.addr"></td>
						<td style="min-width:180px;">
							<div>
								<button bo-if="perms(712)" class="btn tableBtn" ng-click="save(row)">编辑</button>
								<button bo-if="perms(714)" class="btn tableBtn" ng-click="playManage(row)">播放管理</button>
								<button bo-if="perms(713)" class="btn tableBtn" ng-click="del(row,$index)">删除</button>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
			</table>
		</div>
	</div>
</div>