<div class="dmbd-dialog" ng-keydown="$event.stopPropagation()">
    <div class="dmbd-dialog-title">
        选择视频
    </div>

    <div class="multipleVideoSelect">
        <section class="layout">
            <div class="left-title">
                <div class="title-table">
                    <div class="left-label">
                        <label>待选择视频（{{recordCount}}）</label>
                    </div>
                    <div class="right-query">
                        <group-leaf-select class="group-leaf-select groupLeafSelect"
                                           reqleafurl="{{'/api/material/getMaterialGroups'}}">
                        </group-leaf-select>
                        <input type="text" ng-model="search" placeholder="视频名称">
                        <button ng-click="doQuery()">查询</button>
                    </div>
                </div>
            </div>
            <div class="left-content">
                <ul class="clear_fix" ng-if="videos.length!==0">
                    <li class="video-item" ng-repeat="video in videos"
                        ng-class="{'checked':testCheck(video)}">
                        <dmbd-video-viewer2
                                data="video"
                                button-text="选择"
                                on-button-click="selectVideo(video)">
                        </dmbd-video-viewer2>
                    </li>
                </ul>
                <div class="empty-data" ng-if="videos.length===0">未找到视频</div>
            </div>
            <div class="left-pager">
                <footer class="footer-pager">
                    <dmbd-pager
                            page-size="pageSize"
                            page-index="pageIndex"
                            record-count="recordCount"
                            on-paging="doPaging($index)">
                    </dmbd-pager>
                </footer>
            </div>
            <div class="right-title">
                <label>已选择视频（{{selectedVideos.length}}）</label>
            </div>
            <div class="right-content">
                <ul ui-sortable="sortableOptions" ng-model="selectedVideos">
                    <li class="video-item-selected" ng-repeat="video in selectedVideos">
                        <dmbd-video-viewer2
                                data="video"
                                button-text="移除"
                                on-button-click="unSelectVideo(video)">
                        </dmbd-video-viewer2>
                    </li>
                </ul>
            </div>
        </section>

    </div>

    <div class="dmbd-dialog-footer">
        <button class="dialog_ok" ng-click="ensureClick()">确定</button>
        <button class="dialog_close" ng-click="close_dialog()">取消</button>
    </div>
</div>
