<div ng-switch="data.ver" class="editor-element-full editor-element-relative preserve3d"
     ng-style="{
            '-webkit-perspective':'100em',
            '-moz-perspective':'100em',
            'perspective':'100em'}">
    <div class="editor-element-full editor-element-empty-carousel"
         ng-if="data.images.length===0">
        <div class="default_icon"></div>
    </div>
    <img class="editor-element-full editor-element-absolute"
         ng-if="data.images.length===1"
         ng-src="{{data.images[0].url|editorOSSImageUrlResizeFilter:800}}">
    <img class="editor-element-full editor-element-absolute backface-hidden"
         ng-switch-when="1"
         ng-if="data.images.length>1"
         ng-repeat="image in data.images track by $index"
         ng-src="{{image.url|editorOSSImageUrlResizeFilter:800}}"
         ng-show="data.disableAnimation?$index===nextIndex:($index===prevIndex||$index===nextIndex)"
         ng-style="{'animation':data.disableAnimation?'':($index===nextIndex?inAnimation:outAnimation)+' '+data.duration+'ms forwards'}">
</div>
