@charset "utf-8";

.qmedia-editor-page .preserve3d {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.qmedia-editor-page .backface-hidden {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.qmedia-editor-page .editor-element-full {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.qmedia-editor-page .editor-element-relative {
    position: relative;
}

.qmedia-editor-page .editor-element-absolute {
    position: absolute;
    left: 0;
    top: 0;
}

/* 布局、3D、背景、边框、滤镜等 */
.qmedia-editor-page .editor-element-layout {
    position: absolute;
    /*overflow: hidden;*/
}

.qmedia-editor-page .editor-element-transform {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.qmedia-editor-page .editor-element-mark {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: -100%;
}

.qmedia-editor-page .editor-element-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute; /* 防止布局失效时高度塌缩 */
}

.qmedia-editor-page .editor-element-border {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /* 防止圆角溢出 */
}

.qmedia-editor-page .editor-element-filter {
    width: 100%;
    height: 100%;
}

/* 水平垂直居中，父级必须是 relative 或 absolute */
.qmedia-editor-page .editor-element-center-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.qmedia-editor-page .editor-element-table {
    display: table;
    table-layout: fixed;
}

.qmedia-editor-page .editor-element-table > * {
    display: table-cell;
    height: 100%;
}

.qmedia-editor-page .editor-element-video-fill {
    -o-object-fit: fill;
    object-fit: fill;
}

.qmedia-editor-page .editor-element-empty-carousel {
    /*background-image: -webkit-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -moz-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -ms-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -o-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.qmedia-editor-page .editor-element-empty-carousel > .default_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 10em;
    height: 8em;
    background: url("../../../../../assets/default_image_icon.png") no-repeat scroll center center / 100% 100% border-box border-box;
}

.qmedia-editor-page .editor-element-video-agent {
    position: relative;
}

.qmedia-editor-page .editor-element-video-agent.isEmpty {
    /*background-image: -webkit-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -moz-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -ms-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: -o-radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    /*background-image: radial-gradient(rgba(127, 127, 127, 0.1), rgba(127, 127, 127, 0.9));*/
    background-color: rgba(255, 255, 255, 0.5);
}

.qmedia-editor-page .editor-element-video-agent > .default_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 10em;
    height: 8em;
    background: url("../../../../../assets/default_video_icon.png") no-repeat scroll center center / 100% 100% border-box border-box;
}

.qmedia-editor-page .type-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 10em !important;
    color: #b9d9f6;
}

/* 拖动部分样式 */
.qmedia-editor-page .editor-element-dragger {
    /*position: absolute;*/
    /*z-index: 0;*/
    /*border: dotted 0.1em gray;*/
    /*margin-top: -0.1em;*/
    /*margin-left: -0.1em;*/
    /*-webkit-box-sizing: content-box;*/
    /*-moz-box-sizing: content-box;*/
    /*box-sizing: content-box;*/
    cursor: move;
    overflow: visible;
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
}

.qmedia-editor-page .editor-element-dragger > .dragger-dot {
    position: absolute;
    font-size: inherit;
    width: 0.8em;
    height: 0.8em;
    border: solid 0.1em gray;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.qmedia-editor-page .editor-element-dragger > .dragger-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #dedede;
    font-size: 1.2em;
    padding: 0.1em 0.2em;
    cursor: pointer;
    vertical-align: middle;
    display: none;
}

.qmedia-editor-page .editor-element-dragger:hover > .dragger-close {
    display: inline-block;
}

.qmedia-editor-page .editor-element-dragger > .dragger-close:hover {
    color: white;
}
