<div>
    <span ng-if="type == 'success'" style="color:#3c763d;font-size:24px;vertical-align:middle;">
        <i class="fa fa-check-circle iconp"></i>
    </span>
    <span ng-if="type == 'info'" style="color:#31708f;font-size:24px;vertical-align:middle;">
        <i class="fa fa-info-circle iconp"></i>
    </span>
    <span ng-if="type == 'warning'" style="color:#a94442;font-size:24px;vertical-align:middle;">
        <i class="fa iconfont icon-jinggao iconp" style="font-size:24px;vertical-align:-2px;"></i>
    </span> {{info}}
</div>