<div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group form-group-sm info" style="text-align:center;word-wrap:break-word;font-size:20px;line-height:40px;color:#24243e;">
            <p>此终端异常原因：{{data.exception}}</p>
            <p>建议将终端初始化后重新发布节目</p>
        </div>
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-class="{'disabled': isPosting}" type="button" ng-click="modalConfirmSubmit()">终端初始化
            <i class="fa fa-spinner"></i>
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">暂不处理</button>
    </div>