<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">

	<div class="table-wrapper row">
		<div class="clearfix" style="margin-bottom:15px;">

			<div class="col-sm-6 ellipsTXt p0">
				终端名称：{{data.name}}
			</div>
			<div ng-if="data.resolution" class="col-sm-6">
				终端分辨率：{{data.resolution}}
			</div>
		</div>
		<table class="table" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th class="checkTd">
						<input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
					</th>
					<th>网络ID</th>
					<th>终端名称</th>
					<th>终端型号</th>
					<th>安装地址</th>
				</tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed" class="{{$index%2 == 0?'odd':'even'}}">
					<td class="checkTd">
						<input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.id) != -1" type="checkbox">
					</td>
					<td>{{row.sn}}</td>
					<td title="{{row.name}}">{{row.name}}</td>
					<td>{{row.model}}</td>
					<td>{{row.addr}}</td>
				</tr>
			</tbody>
			<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
		</table>
	</div>
</div>
<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>