<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>

<div class="clearfix modal-body">
	<div class="table-wrapper row">
		<div class="clearfix plr">
			<div class="col-sm-6 ellipsTXt p0" style="margin-bottom:10px;">
				排期名称：{{data.name}}
			</div>
		</div>
	</div>
	<div class="row" style="position:relative;width:720px;;height:390px;margin-top:-10px;overflow-y: auto;overflow-x:hidden;">
		<div class="clearfix" style="width:100px;position:absolute;left:0;top:7px;padding-left:4px;z-index:2;">
			<div style="font-size:14px; color:#9f9f9f;height:24px;">节目排期</div>
			<div class="clearfix" style="line-height:29px;" ng-repeat="item in playList">
				<div class="fl ellipsTXt" title="{{item.name}}" ng-click="showProgram(item)" style="width:80px;font-size:12px;padding-left:4px;cursor:pointer;">{{item.name}}</div>
			</div>
		</div>
		<div class="row" ng-style="chartStyle" e-chart eoption="eoption"></div>
	</div>
</div>
<div ng-if="data.detailType == 1" class="modal-footer" me-include="/static/tpl/modal_footerCheck.html"></div>