<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="clearfix modal-body">
	<div ng-if="data.screenshot" class="row">
		<div class="col-sm-12">
			<img alt="截图" style="max-height:300px;width:100%;height:auto;display:block;" src="static/img/loading.gif" lazy-src="{{data.screenshot}}"
			/>
		</div>
	</div>
	<div class="modalDetail">
		<div>
			<dl class="row">
				<dt class="col-sm-12">基本信息</dt>
				<dd class="col-sm-6">
					<div class="row">
						<label class="col-sm-4 control-label-left">终端编号</label>
						<div class="col-sm-8 txtGrey">
							{{data.no}}
						</div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label-left">有效期</label>
						<div class="col-sm-8 txtGrey">
							{{data.billingDate | formateDate}} 至 {{data.dueDate | formateDate}}
						</div>
					</div>
				</dd>
				<div class="col-sm-6">
					<div class="row">
						<label class="col-sm-4 control-label-left">终端名称</label>
						<div class="col-sm-8 txtGrey ellipsTXt">
							{{data.name}}
						</div>
					</div>
					<div class="row" ng-if="data.oid">
						<label class="col-sm-4 control-label-left">所属组织机构</label>
						<div class="col-sm-8 txtGrey">
							{{data.oid | getOrganizations}}
						</div>
					</div>
				</div>
				<div class="col-sm-12" ng-if="data.info">
					<div class="row">
						<label class="col-sm-4 control-label-left">备注信息</label>
						<div class="col-sm-8 txtGrey">
							{{data.info}}
						</div>
					</div>
				</div>
			</dl>
		</div>
		<div>
			<dl class="row">
				<dt  class="col-sm-12">命令信息</dt>
				<dd class="col-sm-6">
					<div class="row" ng-if="data.screenshot_time && data.screenshot_time !=''">
						<label class="col-sm-4 control-label-left">截图更新时间</label>
						<div class="col-sm-8 txtGrey">
							{{data.screenshot_time}}
						</div>
					</div>
					<div class="row" ng-if="data.sync_time!=null&&data.sync_time!=''">
						<label class="col-sm-4 control-label-left">服务端时间</label>
						<div class="col-sm-8 txtGrey">
							{{data.sync_time | date : 'yyyy-MM-dd HH:mm:ss'}}
						</div>
					</div>
				</dd>
				<dd class="col-sm-6" ng-if="data.terminal_time!=null">
					<div class="row">
						<label class="col-sm-4 control-label-left">终端时间</label>
						<div class="col-sm-8 txtGrey">
							{{data.terminal_time | date : 'yyyy-MM-dd HH:mm:ss'}} </div>
					</div>
					<div class="row">
						<label class="col-sm-4 control-label-left" ng-if="data.volumn!=null&&data.volumn!=''">当前音量</label>
						<div class="col-sm-8 txtGrey">
							{{data.volumn}} </div>
					</div>
				</dd>

			</dl>
		</div>
		<div>
			<dl class="row">
				<dt class="col-sm-12">版本信息</dt>
				<dd class="col-sm-6">
					<div class="row" ng-if="data.appVersion!=null&&data.appVersion!=''">
						<label class="col-sm-4 control-label-left">APP版本</label>
						<div class="col-sm-8 txtGrey">
							{{data.appVersion}}
						</div>
					</div>
					<div class="row" ng-if="data.target_ver!=null&&data.target_ver!=''">
						<label class="col-sm-4 control-label-left">目标版本</label>
						<div class="col-sm-8 txtGrey">
							{{data.target_ver}}
						</div>
					</div>
				</dd>
				<dd class="col-sm-6" ng-if="data.terminal_time!=null">
					<div class="row" ng-if="data.settingVer!=null&&data.settingVer!=''">
						<label class="col-sm-4 control-label-left">Setting版本</label>
						<div class="col-sm-8 txtGrey">
							{{data.settingVer}}
						</div>
					</div>
				</dd>

			</dl>
		</div>
		<div>
			<dl class="row">
				<dt class="col-sm-12">硬件信息</dt>
				<dd class="col-sm-6">
					<div class="row" ng-if="data.op!=null&&data.op!=''">
						<label class="col-sm-4 control-label-left">系统</label>
						<div class="col-sm-8 txtGrey">
							{{data.op | opOptionsTxt}}
						</div>
					</div>
					<div class="row" ng-if="data.mac!=null&&data.mac!=''">
						<label class="col-sm-4 control-label-left">MAC地址</label>
						<div class="col-sm-8 txtGrey">
							{{data.mac}}
						</div>
					</div>
					<div class="row" ng-if="data.disk_info!=null&&data.disk_info!=''">
						<label class="col-sm-4 control-label-left">硬盘信息</label>
						<div class="col-sm-8 txtGrey">
							{{data.disk_info}}
						</div>
					</div>
					<div class="row" ng-if="data.hw_info!=null&&data.hw_info!=''">
						<label class="col-sm-4 control-label-left">内存信息</label>
						<div class="col-sm-8 txtGrey">
							{{data.hw_info}}
						</div>
					</div>
				</dd>
				<dd class="col-sm-6" ng-if="data.cardModel!=null&&data.cardModel!=''">
					<div class="row">
						<label class="col-sm-4 control-label-left">板卡信息</label>
						<div class="col-sm-8 txtGrey">
							{{data.cardModel}}
						</div>
					</div>
					<div class="row" ng-if="data.sw_info!=null&&data.sw_info!=''">
						<label class="col-sm-4 control-label-left">软件信息</label>
						<div class="col-sm-8 txtGrey">
							{{data.sw_info}} </div>
					</div>
					<div class="row" ng-if="data.netType!=null&&data.netType!=''">
						<label class="col-sm-4 control-label-left">网络类型</label>
						<div class="col-sm-8 txtGrey">
							{{getRootDicName('net_type',data.netType)}}</div>
					</div>
					<div class="row" ng-if="data.licenseNo&&data.licenseNo!=''">
						<label class="col-sm-4 control-label-left">授权编号</label>
						<div class="col-sm-8 txtGrey">
							{{data.licenseNo}}</div>
					</div>
				</dd>

			</dl>
		</div>

	</div>
</div>