<div class="modal-header" me-include="static/tpl/modal_header.html"></div>
<div class="modal-body">

	<div class="table-wrapper row">
		<div class="clearfix" style="margin-bottom:15px;">

			<div class="col-sm-6 ellipsTXt p0">
				终端名称：{{data.name}}
			</div>
			<div ng-if="data.resolution" class="col-sm-6">
				终端分辨率：{{data.resolution}}
			</div>
		</div>
		<div>
			<ul class="nav nav-tabs tacleNav">
				<li ng-class="{'active': showType == 0 }" ng-click="switchTab(0)">
					<a>发布成功</a>
				</li>
				<li ng-class="{'active': showType == 1 }" ng-click="switchTab(1)">
					<a>正在处理</a>
				</li>
			</ul>
			<table class="table" st-pipe="callServer" st-table="displayed">
				<thead>
					<tr>
						<th ng-if="showType == 0" class="checkTd">
							<input ng-checked="ids.length == displayed.length && displayed.length != 0" ng-click="checkAll($event)" type="checkbox">
						</th>
						<th>类型</th>
						<th>名称</th>
						<!-- <th>播放时间</th> -->
						<th ng-if="showType == 1">命令名称</th>
						<th ng-if="showType == 1">状态</th>
					</tr>
				</thead>
				<tbody ng-show="!isLoading">
					<tr ng-repeat="row in displayed">
						<td ng-if="showType == 0" class="checkTd">
							<input ng-click="checkThis(row,$event)" ng-checked="ids.indexOf(row.pid) != -1" type="checkbox">
						</td>
						<td>
							<div ng-if="showType == 0">
								<div ng-if="!row.stype && row.stype != 1">
									节目
								</div>
								<div ng-if="row.stype == 1">
									排期
								</div>
							</div>
							<div ng-if="showType == 1">
								<div ng-if="[21,22].indexOf(row.cmdCode) != -1">节目</div>
								<div ng-if="[21,22].indexOf(row.cmdCode) == -1">排期</div>
							</div>
						</td>
						<td class="tdClick ellipsisTd" title="{{row.name || row.programName}}" ng-click="showProgramOrSchedule(row)">{{row.name || row.programName}}<span class="tex-red" ng-if="row.expired">[已过期]</span></span></td>
						<td ng-if="showType == 1">
							{{row.cmdCode | cmdCodeTxt}}
						</td>
						<td ng-if="showType == 1">
							<div ng-if="row.status == 1 || showType == 0">下发成功</div>
							<div class="tex-red" ng-if="row.status == 2">下发失败</div>
							<div ng-if="row.status == 3">
									等待终端执行
							</div>
							<div ng-if="row.status == 4">已取消</div>
							<div ng-if="row.status == 5">正在下载</div>
						</td>
					</tr>
				</tbody>
				<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
			</table>
		</div>

	</div>
</div>
<div class="modal-footer" ng-if="checkPerms && showType == 0 && displayed.length">
		<button class="btn btn-primary" ng-class="{'disabled': isPosting}" type="button" ng-click="confirm()">停播
			<i class="fa fa-spinner"></i>
		</button>
		<button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
	</div>