<div class="modal-header" me-include="/static/tpl/modal_header.html"></div>
<div class="modal-body">
    <form name="modalForm" novalidate>
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">旧密码：</label>
            <div class="col-sm-9">
                <input type="password" name="password" required class="form-control" ng-model="data.password" />
                <div class="help-block" ng-messages="modalForm.password.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入旧密码</p>
                </div>
            </div>
        </div>
    
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">新密码：</label>
            <div class="col-sm-9">
                <input type="password" name="newPassword" required ng-pattern="/(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$/" class="form-control"
                    ng-model="data.newPassword" />
                <div class="help-block" ng-messages="modalForm.newPassword.$error" ng-if="isShowMessage">
                    <p ng-message="required">请输入新密码</p>
                    <p ng-message="pattern">密码格式不正确</p>
                </div>
            </div>
        </div>
    
    
        <div class="form-group clearfix">
            <label class="col-sm-3 control-label">重复新密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="reNewPassword" ng-model="data.reNewPassword" />
                <div class="help-block" ng-if="isShowMessage && modalForm.newPassword != modalForm.reNewPassword">
                    <p>两次输入密码不一致</p>
                </div>
            </div>
        </div>
    
    </form>
</div>

<div class="modal-footer" me-include="/static/tpl/modal_footer.html"></div>
