<div class="uploadForm" style="overflow-y:auto;overflow-x:hidden;">
    <div class="form-group clearfix" style="margin-bottom:0;">
        <button class="fileLoad btn btn-primary fl">
            <i class="iconfont icon-tianjia-"></i>选择文件
            <input type="file" nv-file-select="" name="file" uploader="uploader" multiple/>
        </button>
    </div>

    <div class="form-group">
        <div style="min-height:100px;max-height:300px;overflow:auto;border-bottom:1px solid #ddd;">
            <table class="table row-border hover">
                <thead>
                    <tr>
                        <th>文件名称</th>
                        <th>上传后名称</th>

                        <th ng-show="uploader.isHTML5">文件大小</th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td style="padding-top:14px;">
                            <strong ng-if="item.file.name.length < 15">{{ item.file.name }}</strong>
                            <strong ng-if="item.file.name.length >= 15">{{ item.file.name.substr(0,15) + '...' }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <div ng-show="uploader.isHTML5 && videofile_type.split(',').indexOf(item.file.type.split('/')[1]) == -1" class="upload_canvas"
                                ng-thumb="{ file: item._file, width: 100 }"></div>
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>

                        <td>
                            <input type="text" ng-model="item.file.desc" class="form-control" placeholder="输入名称" />
                            <div class="txtRed" ng-show="item.file.desc == item.oname">{{item.message}}</div>
                        </td>
                        <td style="padding-top:14px;" ng-show="uploader.isHTML5" nowrap>{{ item.file.size | dmbdResourceSizeFilter}}</td>
                        <td>
                                <i ng-click="item.remove()" class="fa fa-close"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  ng-if="data.showTip" style="font-size:12px;color:#9f9f9f;line-height:16px;margin-top:5px;">
            图片格式支持{{getRootDicNameStrs('image_format')}}，单张不超过10M;视频格式支持{{getRootDicNameStrs('video_format')}}，单个不超过500M;音乐格式支持mp3，单个不超过10M。
        </div>


    </div>
</div>