<div class="editor-element-properties">

    <div class="editor-form-version">

        <section class="editor-form-section editor-form-section-input">
            <label class="editor-form-label">显示<br/>方式</label>
            <editor-control-is-scroll
                    is-scroll="data.isScroll"
                    on-change="isScrollChange(newVal, oldVal)">
            </editor-control-is-scroll>
        </section>

        <section class="editor-form-section editor-form-section-input">
            <editor-control-text-area
                    class="editor-form-txtArea-input"
                    rows="5"
                    placeholder="请在这里输入内容"
                    value="data.value"
                    on-change="valueChange(newVal, oldVal)">
            </editor-control-text-area>
        </section>

        <!--<section class="editor-form-section">-->
        <!--<label class="editor-form-label">字体</label>-->
        <!--<editor-control-font-->
        <!--font="data.font"-->
        <!--on-change="fontChange(newVal, oldVal)">-->
        <!--</editor-control-font>-->
        <!--</section>-->

        <section class="editor-form-section">
            <label class="editor-form-label">字体<br/>颜色</label>
            <editor-control-rgb-color
                    rgb-color="data.color"
                    on-change="colorChange(newVal, oldVal)">
            </editor-control-rgb-color>
        </section>

        <section class="editor-form-section">
            <label class="editor-form-label">背景<br/>颜色</label>
            <div style="display: inline-block;width: 150px;">
                <editor-control-simple-background
                        back-ground="backGround"
                        on-color-change="backGroundColorChange(newVal, oldVal)"
                        on-type-change="backGroundTypeChange(newVal, oldVal)">
                </editor-control-simple-background>
            </div>
        </section>

        <section class="editor-form-section">
            <label class="editor-form-label">大小</label>
            <editor-control-range
                    class="editor-form-range"
                    min-val="10"
                    max-val="50"
                    on-change="sizeChange(newVal, oldVal)"
                    val="data.size">
            </editor-control-range>
            <span class="editor-form-span">{{data.size}}</span>
        </section>

        <section ng-if="data.isScroll"
                 class="editor-form-section">
            <label class="editor-form-label">速度</label>
            <editor-control-range
                    class="editor-form-range"
                    min-val="5"
                    max-val="50"
                    on-change="speedChange(newVal, oldVal)"
                    val="data.speed">
            </editor-control-range>
            <span class="editor-form-span">{{data.speed}}</span>
        </section>

        <section ng-if="!data.isScroll"
                 class="editor-form-section">
            <label class="editor-form-label">水平<br/>对齐</label>
            <editor-control-align-horizontal
                    align="data.horizontalAlign"
                    on-change="horizontalAlignChange(newVal, oldVal)">
            </editor-control-align-horizontal>
        </section>

        <section class="editor-form-section">
            <label class="editor-form-label">垂直<br/>对齐</label>
            <editor-control-align-vertical
                    align="data.verticalAlign"
                    on-change="verticalAlignChange(newVal, oldVal)">
            </editor-control-align-vertical>
        </section>

    </div>

</div>