<div class="editor-page-properties"
     ng-switch="backGround.ver">

    <div class="editor-form-version"
         ng-switch-when="1">

        <section class="editor-form-section">
            <editor-control-background-type
                    back-ground-type="backGround.type"
                    on-change="typeChange(newVal, oldVal)">
            </editor-control-background-type>

            <div style="margin-top: 10px;"
                 ng-if="backGround.type!==0">
                <div style="width: 200px;margin: 0 auto">
                    <editor-control-rgb-color
                            ng-if="backGround.type===1"
                            rgb-color="backGround.color"
                            on-change="colorChange(newVal, oldVal)">
                    </editor-control-rgb-color>
                </div>
                <editor-control-image-selector
                        style="margin: 0 auto;"
                        ng-if="backGround.type===2"
                        image="backGround.image"
                        on-change="imageChange(newVal, oldVal)">
                </editor-control-image-selector>
            </div>

        </section>

        <section class="editor-form-section"
                 ng-if="backGround.type!==0">
            <label class="editor-form-label">不透明</label>
            <editor-control-range
                    class="editor-form-range"
                    min-val="0"
                    max-val="100"
                    val="backGround.opacity">
            </editor-control-range>
            <span class="editor-form-span">{{backGround.opacity}}%</span>
        </section>

    </div>

</div>