<div class="editor-control-videoSelector">

    <video preload="auto" autoplay loop muted
           ng-if="video"
           ng-src="{{video.url|editorOSSImageUrlResizeFilter:200|editorVideoURLSCEFilter}}"
           style="width: 100%;height: 100%;">
    </video>

    <div ng-if="!video" class="panel-area panel-add">
        <button class="iconfont icon-tianjia" ng-click="insertVideo()"></button>
    </div>

    <div ng-if="video" class="panel-area panel-edit">
        <button class="iconfont icon-genggai" ng-click="updateVideo()"></button>
        <button class="iconfont icon-shanchu" ng-click="deleteVideo()"></button>
    </div>
</div>
