<div class="editor-element-property">

    <ul class="editor-property-tabs">
        <li ng-class="{'selected':tabIndex===0}" ng-click="setTabIndex(0)">基本</li>
        <li ng-class="{'selected':tabIndex===1}" ng-click="setTabIndex(1)">布局</li>
        <li ng-class="{'selected':tabIndex===2}" ng-click="setTabIndex(2)">边框</li>
        <!--<li ng-class="{'selected':tabIndex===3}" ng-click="setTabIndex(3)">背景</li>-->
        <!--<li ng-class="{'selected':tabIndex===4}" ng-click="setTabIndex(4)">效果</li>-->
    </ul>

    <div class="editor-property-contents">
        <!-- 基本编辑部分 -->
        <div ng-show="tabIndex===0"
             ng-switch="ele.type">
            <editor-element-property-text
                    ng-switch-when="100"
                    data="ele.data">
            </editor-element-property-text>
            <editor-element-property-text-marquee
                    ng-switch-when="160"
                    data="ele.data"
                    back-ground="ele.background">
            </editor-element-property-text-marquee>
            <editor-element-property-marquee
                    ng-switch-when="150"
                    data="ele.data">
            </editor-element-property-marquee>
            <editor-element-property-image
                    ng-switch-when="200"
                    data="ele.data">
            </editor-element-property-image>
            <editor-element-property-carousel
                    ng-switch-when="250"
                    data="ele.data">
            </editor-element-property-carousel>
            <editor-element-property-video
                    ng-switch-when="300"
                    data="ele.data">
            </editor-element-property-video>
            <editor-element-property-serie
                    ng-switch-when="350"
                    data="ele.data">
            </editor-element-property-serie>
            <editor-element-property-time
                    ng-switch-when="500"
                    data="ele.data"
                    back-ground="ele.background">
            </editor-element-property-time>
            <editor-element-property-webview
                    ng-switch-when="900"
                    data="ele.data">
            </editor-element-property-webview>
            <editor-element-property-stream-media
                    ng-switch-when="1000"
                    data="ele.data">
            </editor-element-property-stream-media>
            <editor-element-property-camera
                    ng-switch-when="1100"
                    data="ele.data">
            </editor-element-property-camera>
        </div>

        <!-- 布局编辑部分 -->
        <div ng-show="tabIndex===1">
            <editor-element-property-layout
                    pixel-horizontal="pixelHorizontal"
                    pixel-vertical="pixelVertical"
                    layout="ele.layout">
            </editor-element-property-layout>
        </div>

        <!-- 边框编辑部分 -->
        <div ng-show="tabIndex===2">
            <editor-element-property-border
                    border="ele.border">
            </editor-element-property-border>
        </div>

        <!-- 背景编辑部分 -->
        <div ng-show="tabIndex===3">
            <editor-element-property-background
                    back-ground="ele.background">
            </editor-element-property-background>
        </div>

        <!-- 效果编辑部分 -->
        <div ng-show="tabIndex===4">
            <editor-element-property-filter
                    filter="ele.filter">
            </editor-element-property-filter>
        </div>

    </div>
</div>