<div class="page-wrap animated fadeInRight">
	<div class="level2 clearfix">
		<button type="button" ng-click="save()" class="btn btn-primary addRole">
			<i class="iconfont icon-tianjia-"></i>
			添加账号
		</button>
		<div class="fr">
			<div class="input-group serchWrap">
				<input type="text" class="form-control" ng-model="sp.search" ng-keyup="myKeyup($event,initPage)" placeholder="登录账号/账号名称">
				<span class="input-group-btn" ng-click="initPage()">
					<button type="button" class="btn btn-primary">
						查询
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="content-wrap">
		<div class="table-wrapper">
			<div class="tableHeader clearfix">
				<div class="panel panel-default clearfix">
					<div class="panelRow clearfix">
						<div class="panel-left">组织机构</div>
						<div class="panel-right">
							<new-group-leaf-select></new-group-leaf-select>
						</div>
					</div>
					<div class="panelRow clearfix last">
						<div class="panel-left">素材筛选</div>
						<div class="panel-right">
							<div class="panelSelectWrap">
								<km-select options="roleOptions" selected="sp.role" val="val" name="name" change="initPage"></km-select>
								<km-select options="roleStatusOptions" selected="sp.enabled" val="val" name="name" change="initPage"></km-select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover dataTable" st-pipe="callServer" st-table="displayed">
				<thead>
					<tr>
						<th>登录账号</th>
						<th>账号名称</th>
						<th>所属组织机构</th>
						<th>账号角色</th>
						<th>账号状态</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody ng-show="!isLoading">
					<tr ng-repeat="row in displayed" bindonce>
						<td bo-title="row.account" bo-text="row.account"></td>
						<td bo-text="row.name"></td>
						<td class="ellipsisTd" bo-title="row.oid | getOrganizations" bo-text="row.oid | getOrganizations"></td>
						<td bo-text="row.roleName"></td>
						<td>
							<div bo-if="row.enabled == 1" class="txtGreen">激活</div>
							<div bo-if="row.enabled == 0" class="txtRed">禁用</div>
						</td>
						<td>
							<div bo-if="!row.role || row.role != '0'">
								<button class="btn tableBtn" ng-click="save(row)">编辑</button>
								<button class="btn tableBtn" ng-click="resetPwd(row)">重置密码</button>
								<button bo-if="row.enabled == 1" class="btn tableBtn" ng-click="changeStatus(row,$index)">禁用</button>
								<button bo-if="row.enabled == 0" class="btn tableBtn" ng-click="changeStatus(row,$index)">解禁</button>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody me-include="/static/tpl/table.html"></tbody>
				<tfoot ng-show="!isLoading" me-include="/static/tpl/table_footer.html"></tfoot>
			</table>
		</div>
	</div>
</div>