<div class="page-wrap animated fadeInRight scheduleCreate" style="overflow: auto;min-width: 980px;;">
	<div class="level2 clearfix">
		<button ng-if="!isSort" class="iconBtn btn btn-primary" ui-sref="dashboard.scheduleManage({pos:schedulePos})">
			<i class="fa fa-angle-left"></i> 返回
		</button>
	</div>
	<div style="position:relative;padding:20px;background: #fff;" class="clearfix">
		<div class="txtGrey">
			<p class="mart0">新建排期
				<span ng-if="expiressd && expiressd.length > 0" class="txtRed">(过期的节目已被自动清理)</span>
			</p>
		</div>
		<form name="scheduleNameForm" novalidate id="scheduleNameForm">
			<div class="form-group clearfix polr">
				<div class="col-2" style="max-width:80px;">排期名称：</div>
				<div class="col-4" style="max-width:300px;">
					<input class="form-control disIbk" name="scheduleName" ng-model="scheduleName" placeholder="排期名称" required ng-pattern="/^.{2,40}$/">
				</div>
				<div class="col-6 txtRed" ng-messages="scheduleNameForm.scheduleName.$error" ng-if="isShowMessage">
					<p class="m0" ng-message="required">请输入排期名称</p>
					<p class="m0" ng-message="pattern">请输入2-40个字符</p>
				</div>
				<div class="chartLend" ng-show="playList.length > 0">
					<span class="lendItem">
						<i></i>全天播放</span>
					<span class="lendItem">
						<i class="times"></i>次数播放</span>
				</div>
			</div>
		</form>
		<div class="clearfix" style="min-width: 980px;">
				<div class="table-wrapper col-35 mid-table" style="padding: 20px;background: #f6f7fa;min-height: 520px;">
						<div class="clearfix tableHeader">
							<div class="fl">
								<div class="clearfix">
									<new-group-leaf-select reqleafurl="{{'/api/terminal/getTerminalGroups'}}"></new-group-leaf-select>
								</div>
							</div>
							<div class="fl">
									<km-select options="terminalResolutionOptions" selected="sp.resolution" val="val" name="name" change="initPage"></km-select>
								</div>
						</div>
						<table class="table table-striped table-hover dataTable" st-pipe="callServer" st-table="displayed">
							<thead>
								<tr>
									<th>节目名称</th>
									<th>时长</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody class="content" ng-show="!isLoading">
								<tr ng-repeat="row in displayed" bindonce>
									<td class="tdClick ellipsisTd" bo-title="row.name" bo-text="row.name" ng-click="showProgram(row)"></td>
									<td bo-text="row.duration + 's'"></td>
									<td>
										<button class="btn tableBtn" ng-class="{'disabled': playListId.length > 100 || playListId.indexOf(row.id) != -1 }" ng-click="add(row)">添加
										</button>
									</td>
			
								</tr>
							</tbody>
							<tbody me-include="/static/tpl/table.html"></tbody>
							<tfoot ng-show="!isLoading" me-include="/static/tpl/mid_table_footer.html"></tfoot>
						</table>
					</div>
					<div class="col-65" style="padding:10px;background: #fff;">
						<div class="txt-center txtGrey" style="line-height:380px;" ng-show="!playList.length">请从左侧选择节目添加~</div>
						<div ng-show="playList.length > 0" style="position:relative;height:450px;margin-top:-12px;overflow-y: auto;overflow-x:hidden;">
							<div class="clearfix" style="width:100px;position:absolute;left:0;top:7px;padding-left:4px;z-index:2;">
								<div style="font-size:14px; color:#9f9f9f;height:24px;">节目排期</div>
								<div class="clearfix" style="line-height:29px;" ng-repeat="item in playList">
									<div class="fl ellipsTXt" title="{{item.name}}" ng-click="showProgram(item)" style="width:80px;font-size:12px;padding-left:4px;cursor:pointer;">{{item.name}}</div>
									<div class="fr" style="color:#c4c4c4;cursor:pointer;" ng-click="del(item)">
										<i class="fa fa-close"></i>
									</div>
								</div>
							</div>
							<div e-chart eoption="eoption" ng-style="chartStyle"></div>
						</div>
						<div class="txt-center mart10" ng-show="playList.length > 0">
							<button ng-if="perms(442)" class="btn btn-primary btn-lg" ng-class="{'disabled': isPosting}" type="button" ng-click="saveSchedule()">保存
								<i class="fa fa-spinner"></i>
							</button>
							<button class="btn btn-default btn-lg" type="button" ui-sref="dashboard.schedule({pos:schedulePos})">返回</button>
						</div>
					</div>
		</div>
		
	</div>
</div>