<div class="editor-page-tools">
    <ul class="tool-list">
        <!--<li>-->
            <!--<div class="button" ng-click="setTextElement()">-->
                <!--<label class="icon iconfont icon-wenben"></label>-->
                <!--<label class="text">文字</label>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="button" ng-click="setMarqueeElement()">-->
                <!--<label class="icon iconfont icon-wenben"></label>-->
                <!--<label class="text">走马灯</label>-->
            <!--</div>-->
        <!--</li>-->
        <li>
            <div class="button" ng-click="setTextMarqueeElement()">
                <label class="icon iconfont icon-wenben"></label>
                <label class="text">文字</label>
            </div>
        </li>
        <li>
            <div class="button" ng-click="setTimeElement()">
                <label class="icon iconfont icon-shijian"></label>
                <label class="text">时间</label>
            </div>
        </li>
        <!--<li>-->
            <!--<div class="button" ng-click="setImageElement()">-->
                <!--<label class="icon iconfont icon-tupian"></label>-->
                <!--<label class="text">图片</label>-->
            <!--</div>-->
        <!--</li>-->
        <li>
            <div class="button" ng-click="setImagesElement()">
                <label class="icon iconfont icon-tupian"></label>
                <label class="text">图片</label>
            </div>
        </li>
        <!--<li>-->
            <!--<div class="button" ng-click="setVideoElement()">-->
                <!--<label class="icon iconfont icon-shipin"></label>-->
                <!--<label class="text">单视频</label>-->
            <!--</div>-->
        <!--</li>-->
        <li>
            <div class="button" ng-click="setVideosElement()">
                <label class="icon iconfont icon-shipin"></label>
                <label class="text">视频</label>
            </div>
        </li>
        <!--<li>-->
        <!--<button ng-click="setWeatherElement()">天气</button>-->
        <!--</li>-->
        <li>
            <div class="button" ng-click="setWebviewElement()">
                <label class="icon iconfont icon-wangye"></label>
                <label class="text">网页</label>
            </div>
        </li>
        <li>
            <div class="button" ng-click="setStreamMediaElement()">
                <label class="icon iconfont icon-liumeiti"></label>
                <label class="text">流媒体</label>
            </div>
        </li>
        <li>
            <div class="button" ng-click="setCameraElement()">
                <label class="icon iconfont icon-shexiangtou"></label>
                <label class="text">摄像头</label>
            </div>
        </li>
    </ul>
</div>
