.image-jrop {
  .placeBox {
    width: 360px;
    height: 325px;
    border: 1px solid #f1f2f5;
    text-align: center;
    line-height: 325px;
    color: #9f9f9f;
    font-weight: 400;
    cursor: pointer;
  }
}