<div class="editor-control-layout-align">
    <span class="iconfont icon-yangshi-zuo-youduiqi"
          title="水平左对齐"
          ng-click="alignLeft()"></span>
    <span class="iconfont icon-yangshi-juzhongduiqi"
          title="水平居中对齐"
          ng-click="alignCenter()"></span>
    <span class="iconfont icon-yangshi-youduiqi"
          title="水平右对齐"
          ng-click="alignRight()"></span>
    <span class="iconfont icon-yangshi-dingduiqi"
          title="垂直顶部对齐"
          ng-click="alignTop()"></span>
    <span class="iconfont icon-shuipingjuzhong"
          title="垂直居中对齐"
          ng-click="alignMiddle()"></span>
    <span class="iconfont icon-yangshi-diduiqi"
          title="垂直底部对齐"
          ng-click="alignBottom()"></span>
</div>