<div class="dmbd-dialog" ng-keydown="$event.stopPropagation()">
    <div class="dmbd-dialog-title">
        自定义分辨率
    </div>

    <div class="pixelSelector">
        <div class="row">
            <label>宽：</label>
            <input type="number"
                   ng-model="pixelHorizontal"
                   ng-keydown="validInput($event)">
            <label>px</label>
        </div>
        <div class="row">
            <label>高：</label>
            <input type="number"
                   ng-model="pixelVertical"
                   ng-keydown="validInput($event)">
            <label>px</label>
        </div>
    </div>

    <div class="dmbd-dialog-footer">
        <button class="dialog_ok" ng-click="okClick()">确定</button>
        <button class="dialog_close" ng-click="cancelClick()">取消</button>
    </div>

</div>