#allmap {
    height: 100%;
    min-height: 360px;
    border-radius: 6px;
    .fileReportWrap {
        margin-bottom: 15px;
        height: 100%;
        background: #fff;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            width: 50%;
            height: 50%;
            border-right: 1px solid #f1f2f5;
            border-bottom: 1px solid #f1f2f5;
            min-height: 180px;
            position: relative;
            .con {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 30px;
                margin-top: -78px;
                .wrap {
                    width: 50%;
                    float: left;
                }
                .tle {
                    display: block;
                    font-size: 24px;
                }
                .conLeft {
                    border-right: 1px solid #f1f2f5;
                    width: 60%;
                    overflow: hidden;
                    float: left;
                }
                .conCenter {
                    text-align: center;
                    margin-top: 56px;
                }
                .conRright {
                    text-align: center;
                    margin-top: 56px;
                    width: 40%;
                    overflow: hidden;
                    float: left;
                }
            }
            .iconWrap {
                width: 150px;
                height: 150px;
                display: inline-block;
                position: relative;
                border-radius: 50%;
                text-align: center;
                .tipLabel {
                    position: absolute;
                    top: 50%;
                        left: 50%;
                        margin-top: -60px;
                        margin-left: -60px;
                    span.dibik {
                        position: absolute;
                        top: 50%;
                        margin-top: 30px;
                        left: 0px;
                        text-align: center;
                        width: 100%;
                    }
                }
                .iconfont {
                    font-size: 68px;
                }
            }
        }
    }
}


.homePage {
    .huge {
        font-size: 32px;
    }
    h4 {
        margin: 0;
        padding: 20px;
        background: #fff;
    }
    .userTip {
        padding: 5px 10px;
        margin-bottom: 5px;
        color: #ff3e3e;
        border: 1px solid #ff3e3e;
        background: rgba(255, 255, 204, 1);
    }
    .stats {
        .panel {
            cursor: pointer;
            .panel-heading {
                padding: 10px 0;
            }
            .iconfont {
                font-size: 64px;
                width: 70px;
                height: 70px;
                display: inline-block;
                margin-top: -10px;
            }
            .state_ok {
                color: #00A0E9;
            }
            .state_offline {
                color: #c4c4c4;
            }
            .state_error {
                color: #ff3e3e;
                font-size: 72px;
                margin-top: -19px;
                margin-right: 5px;
            }
            .state_all {
                color: #364660;
                font-size: 72px;
                margin-top: -19px;
            }
        }
    }
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 90px 20px 198px 270px;
}

@media (max-width: 992px){
    .homePage {
        padding: 90px 20px 198px 75px;
    }
    
  }
  @media (max-width: 1200px){
    .fileReportWrap {
        min-height: 560px;
        li {
            width: 100%!important;
            height: 25%!important;
            min-height: 140px!important;
            .con {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 30px;
                margin-top: -52px!important;
                .tle {
                    display: block;
                    font-size: 24px;
                }
                .conLeft {
                    border-right: 1px solid #f1f2f5;
                }
                .conCenter {
                    text-align: center;
                    margin-top: 20px!important;
                }
                .conRright {
                    text-align: center;
                    margin-top: 20px!important;
                }
            }
        }
        .iconWrap {
            width: 100px!important;
            height: 100px!important;
            display: inline-block;
            position: relative;
            border: 1px solid #00A0E9;
            border-radius: 50%;
            color: #00A0E9;
            text-align: center;
            .tipLabel {
               margin-top: -46px!important;
                    margin-left: -46px!important;
                span.dibik {
                    position: absolute;
                    top: 50%;
                    margin-top: 30px;
                    left: 0px;
                    text-align: center;
                    width: 100%;
                }
            }
            .iconfont {
                font-size: 48px!important;
            }
        }
    }
  }
  