<div class="homePage">
    <div class="userTip clearfix" ng-if="domainMessage && domainMessage.length > 0" ng-repeat="dm in domainMessage">
        <span style="line-height: 32px;" class="fl">{{dm}}</span>
        <div ng-click="closeThisTip($event)" class="fr" style="color:#c4c4c4;cursor:pointer;">
            <i class="fa fa-close"></i>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminalManage',{status:1},21)">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="clearfix" style="text-align:center;">
                            <div class="disIbk txtLeft">
                                <i class="iconfont icon-zhengchang state_ok"></i>
                            </div>
                            <div class="disIbk txtLeft" style="margin-left:40px;">
                                <div>在线终端</div>
                                <div class="huge">{{ter_ok}}</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminalManage',{status:2},21)">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="clearfix" style="text-align:center;">
                            <div class="disIbk txt-left">
                                <i class="iconfont icon-lixian state_offline"></i>
                            </div>
                            <div class="disIbk txt-left" style="margin-left:40px;">
                                <div>离线终端</div>
                                <div class="huge">{{ter_offline}}</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminalManage',{status:3},21)">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="clearfix" style="text-align:center;">
                            <div class="disIbk txt-left">
                                <i class="iconfont icon-yichang state_error"></i>
                            </div>
                            <div class="disIbk txt-left" style="margin-left:40px;">
                                <div>异常终端</div>
                                <div class="huge">{{ter_noAct}}</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminalManage',{},21)">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="clearfix" style="text-align:center;">
                            <div class="disIbk txt-left">
                                <i class="iconfont icon-suoyouzhongduan state_all"></i>
                            </div>
                            <div class="disIbk txt-left" style="margin-left:40px;">
                                <div>所有终端</div>
                                <div class="huge">{{ter_all}}</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    <div class="mapWrap">
        <div id="allmap"></div>
    </div>
</div>