<div class="homePage">
    <div class="row">
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:'1'},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-zhengchang state_ok"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>在线终端</div>
                            <div class="huge">{{ter_ok}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:'2'},21)">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-lixian state_offline"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>离线终端</div>
                            <div class="huge">{{ter_offline}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:'3'},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-yichang state_error"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>异常终端</div>
                            <div class="huge">{{ter_error}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 stats" ng-click="goTostate('dashboard.terminal',{status:'0'},21)">
            <div class="panel">
                <div class="panel-heading">
                    <div class="clearfix" style="text-align:center;">
                        <div class="dibik txt-left">
                            <i class="iconfont icon-suoyouzhongduan state_all"></i>
                        </div>
                        <div class="dibik txt-left" style="margin-left:40px;">
                            <div>未激活终端</div>
                            <div class="huge">{{ter_noAct}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h4>文件统计</h4>
    <div id="allmap">
        <ul class="fileReportWrap">
            <li ng-repeat="material in materialReport">
                <div class="con">
                    <div class="conLeft">
                        <div class="wrap">
                            <span class="iconWrap" ng-style="materialStyle(material.color)">
                                <div class="tipLabel">
                                    <i class="icon iconfont {{material.icon}}">
                                    </i>
                                    <span class="dibik">{{material.name}}</span>
                                </div>
                            </span>
                        </div>
                        <div class="wrap">
                            <div class="conCenter">
                                <sapn class="tle">{{material.allCount}}</sapn>
                                <p>数量(个)</p>
                            </div>
                        </div>
                    </div>
                    <div class="conRright">
                        <sapn class="tle">{{material.allSize/1024/1024|number:2}}</sapn>
                        <p>大小(Mb)</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>