<div class="loginContainer">
	<img src="/static/img/bg1.png" class="loginBg">
	<div class="loginBox">
		<div class="loginContent">

			<div class="left polr">
				<img class="loginBg" src="/static/img/banner.png" style="width:100%;height:100%;" />
			</div>
			<div class="right polr">
				<img class="loginBg" src="/static/img/rightBg.png" style="width:100%;height:100%;" />
				<div class="rightBox polr" style="z-index: 1;">
					<img src="/static/img/logo.png" class="logo" />
					<div class="title">
						智能营销传播系统
					</div>
					<div class="english">
						Intelligent Marketing Communication System
					</div>
					<form name="loginForm" id="loginForm" novalidate style=" text-align: center;margin-top: 10px;">
						<div class="form-group">
							<input ng-keyup="myKeyup($event)" class="form-control" name="account" placeholder="账户" class="txtinput" ng-model="account"
							    required>
							<div class="help-block" ng-messages="loginForm.account.$error" ng-if="isShowMessage">
								<p ng-message="required">请输入用户名</p>
							</div>
						</div>
						<div class="form-group">
							<input ng-keyup="myKeyup($event)" type="password" class="form-control" name="password" placeholder="密码" class="txtinput"
							    ng-model="password" required>
							<div class="help-block" ng-messages="loginForm.password.$error" ng-if="isShowMessage">
								<p ng-message="required">请输入密码</p>
							</div>
						</div>
						<div class="chkdiv">
							<div class="left">
								<input ng-model="isRemembered" type="checkbox" id="login_remember">
								<label for="login_remember" class="">记住账户</label>
							</div>
							<a ui-sref="passwordFind" class="fr">忘记密码？</a>
						</div>
						<button type="button" id="form_modal_btn" class="subbtn" ng-click="login()">登录</button>
					</form>
				</div>

			</div>
			<div class="helpNavWrap">
				<div class="helpNav">
					<a ui-sref="help.guide">新手指南</a>
				</div>
				<div class="helpNav">
					<a ui-sref="help.statement">法律声明</a>
				</div>
				<div class="helpNav">
					<a ui-sref="help.agreement">服务协议</a>
				</div>
				<div class="helpNav">
					<a ui-sref="help.partner">合作伙伴</a>
				</div>
				<div class="helpNav">
					<a ui-sref="help.aboutus">关于我们</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer_text">鄂ICP备17013099号-1 快媒数字 版权所有</div>

</div>