<div class="tbxeditWrapper">
<div style="width: 100%;height: 100%;">
    <template-editor
            ng-if="template"
            pixel-horizontal="template.pixelHorizontal"
            pixel-vertical="template.pixelVertical"
            page="template.page"
            on-preview="goPreview(pixelHorizontal,pixelVertical,pages)"
            on-back="goBack()"
            on-save-template="saveTemplate(pixelHorizontal,pixelVertical,page)"
            on-check-pixel="selectPixel(ph,pv,callback)">
    </template-editor>
</div>
</div>